<div class="navbar">
    <div class="navbar-background"></div>
        <nav class="nav-links">
            <a href="#" class="nav-link">albums</a>
            <a href="#" class="nav-link">search</a>
            <a href="#" class="nav-link">nav</a>
            <a href="#" class="nav-link">stats</a>
        </nav>
    <h1 class="navbar-title">soundbyte jukebox</h1>
</div>
