<!DOCTYPE html>
<html>
    <head>
        <title>Jakob's Musac</title>
        <link rel = "icon" href = "https://cdn2.steamgriddb.com/file/sgdb-cdn/icon/ed277964a8959e72a0d987e598dfbe72.png" type = "image/x-icon">
        <%- include('../includes/head'); %>
    </head>

    <body>
        <div class="content">
            <h1>menu</h1>
            <div><button class="menubtn" type="submit" onclick="location.href = '/'">albums</button></div>
                <div><button class="menubtn" type="submit" onclick="location.href = '/add'">add new album</button></div>
                <div><button class="menubtn" type="submit" onclick="location.href = '/stats'">stats</button></div>
        </div>
        <script>
            
        </script>
    </body>
</html>